<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table style="width:100%">
        <thead>
          <th>Entry Time</th>
          <th>Entry Location</th>
          <th>Entry Free</th>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>

              <td><%= room.created_at.strftime("%m/%d/%Y - %H:%M") %></td>
              <td><%= room.room_name %></td>
              <td><%= number_to_percentage((room.free * 100), precision: 2)  %></td>
            </tr>

          <% end %>
        </tbody>
      </table>

    </div>

  </div>

</div>