// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$1: #0DB10D;
$2: #4CC10E;
$3: #99D10F;
$4: #C6D910;
$5: #FFF800;
$6: #FFDB00;
$7: #FFBF00;
$8: #FFA100;
$9: #FF7100;
$10: #FF0D00;
$border-style: solid black 2px;

td {
  .data-cell {
    border: $border-style;
    .data-1 {
      background: $1;
    }
    .data-2 {
      background: $2;
    }
    .data-3 {
      background: $3;
    }
    .data-4 {
      background: $4;
    }
    .data-5 {
      background: $5;
    }
    .data-6 {
      background: $6;
    }
    .data-7 {
      background: $7;
    }
    .data-8 {
      background: $8;
    }
    .data-9 {
      background: $9;
    }
    .data-10 {
      background: $10;
    }
  }
}