// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  font-weight: bold;
  height: 50px;
  width: 44px;
  border: solid black 2px;
  text-align: center;
}

.my-data-span {
  display: none;
}

#legend {
  border:solid black 2px;
  overflow:auto;
  width:auto;
  display:inline-block;
}

.my-legend {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  height: 50px;
  width: 40px;
  position: relative;
  float: left;
  margin-left:0px;
  padding-top:3%;
  text-align:center;
}

td:hover .my-data-span{
  display: block;
  background-color:black;
  opacity:0.8;
  font-size:140%;
}


.data-1 {
  background-color: #FF0D00;
}
.data-2 {
  background-color: #FF7100;
}
.data-3 {
  background-color: #FFA100;
}
.data-4 {
  background-color: #FFBF00;
}
.data-5 {
  background-color: #FFDB00;
}
.data-6 {
  background-color: #FFF800;
}
.data-7 {
  background-color: #C6D910;
}
.data-8 {
  background-color: #99D10F;
}
.data-9 {
  background-color: #4CC10E;
}
.data-10 {
  background-color: #0DB10D;
}
